    <mat-card class="search-user-card">
        <h2>Search Work Orders&nbsp;</h2>
         <p>
            <strong>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Search.."  type="text" name="SearchName" #SearchName>
                </mat-form-field>
            </strong>
    
            <mat-radio-group aria-labelledby="radio-group-label" class="radio-group" [(ngModel)]="favoriteSearch">
                <mat-radio-button class="radio-button" *ngFor="let workOrder of search" [value]="workOrder">
                    {{workOrder}}
                </mat-radio-button>
            </mat-radio-group>
    
        <div>
            <button mat-raised-button color="primary" id="button" (click)=" getselection(SearchName.value); "
                class="btn btn-primary">
                Search <!--by {{favoriteSearch}}-->
            </button>
        </div>
    
        <hr />
        <p>&nbsp;</p>
    
        <div class="mat-table-container">
            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="changeSort($event)">
                <!-- Position Column -->
    
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Id">
                        {{ "id"  }}
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
                
                <ng-container matColumnDef="companyName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by CompanyName">
                        {{ "companyName"}}
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
                </ng-container>
    
                <ng-container matColumnDef="designation">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Observation">
                        {{ "designation"}}
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.designation}} </td>
                </ng-container>
    
                <ng-container matColumnDef="beginWork">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Location">
                        {{ "beginWork"}}
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.beginWork}} </td>
                </ng-container>
    
                <ng-container matColumnDef="endWork">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Location">
                        {{ "endWork"}}
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.endWork}} </td>
                </ng-container>
    
                <ng-container matColumnDef="active">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Employee Name">
                        {{ "active"  }}
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.active}} </td>
                </ng-container>
    
    
                <tr mat-header-row *matHeaderRowDef="tableColumnHeaders"></tr>
                <tr mat-row *matRowDef="let element; let row; columns: tableColumnHeaders;"
                    (click)="selectWorkOrder(element.id,  element.companyName, element.designation);">
                </tr>
            </table>
    
            <mat-paginator [pageSizeOptions]="[5, 10, 20,100]" showFirstLastButtons
                aria-label="Select page of periodic elements">
            </mat-paginator>
    
        </div>
    
    </mat-card>

