<app-menu-zero></app-menu-zero>

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

    <mat-card class="search-user-card">
    <h2>Search WorkAuthorizations &nbsp;</h2>

    <p>
        <strong>
            <mat-form-field class="full-width">
                <input matInput placeholder="Search.."  type="text" name="SearchName" #SearchName>
            </mat-form-field>
        </strong>

        <mat-radio-group aria-labelledby="radio-group-label" class="radio-group" [(ngModel)]="favoriteSearch">
            <mat-radio-button class="radio-button" *ngFor="let WorkAuthorization of search" [value]="WorkAuthorization">
                {{WorkAuthorization}}
            </mat-radio-button>
        </mat-radio-group>

    <div>
        <button mat-raised-button color="primary" id="button" (click)=" getselection(SearchName.value); "
            class="btn btn-primary">
            Search <!--by {{favoriteSearch}}-->
        </button>
    </div>

    <hr />
    <p>&nbsp;</p>

    <div class="mat-table-container">
        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="changeSort($event)">
            <!-- Position Column -->

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Id">
                    {{ "id"  }}
                </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            
            <ng-container matColumnDef="workOrderNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by PartNumber">
                    {{ "workOrderNumber"  }}
                </th>
                <td mat-cell *matCellDef="let element"> {{element.workOrderNumber}} </td>
            </ng-container>

            <ng-container matColumnDef="companyName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by OkParts">
                    {{ "companyName"  }}
                </th>
                <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
            </ng-container>
            
            <ng-container matColumnDef="visualAidNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by OkParts">
                    {{ "visualAidNumber"  }}
                </th>
                <td mat-cell *matCellDef="let element"> {{element.visualAidNumber}} </td>
            </ng-container>

            <ng-container matColumnDef="employeeNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Location">
                    {{ "employeeNumber"}}
                </th>
                <td mat-cell *matCellDef="let element"> {{element.employeeNumber}} </td>
            </ng-container>


            <ng-container matColumnDef="beginWork">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Observation">
                    {{ "beginWork"}}
                </th>
                <td mat-cell *matCellDef="let element"> {{element.beginWork}} </td>
            </ng-container>

            <ng-container matColumnDef="endWork">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by WorkOrder">
                    {{ "endWork"}}
                </th>
                <td mat-cell *matCellDef="let element"> {{element.endWork}} </td>
            </ng-container>

            <ng-container matColumnDef="active">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by CompanyName">
                    {{ "active"}}
                </th>
                <td mat-cell *matCellDef="let element"> {{element.active}} </td>
            </ng-container>

              

            <tr mat-header-row *matHeaderRowDef="tableColumnHeaders"></tr>
            <tr mat-row *matRowDef="let element; let row; columns: tableColumnHeaders;"
                (click)="selectUser(element.id, element.workOrderNumber, element.companyName,element.visualAidNumber, element.employeeNumber, element.beginWork, element.endWork, element.active);">
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20,100]" showFirstLastButtons
            aria-label="Select page of periodic elements">

            
        </mat-paginator>


       
    </div>

</mat-card>
<!--     Resultados-->

<mat-card class="search-user-card">
     <hr />
    <h2>Resultado&nbsp;</h2>

    <p>
     
        <hr />
   


    <mat-list>
        <mat-list-item>Id : {{resultId}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>WorkOrder Number: {{resultworkOrderNumber}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Company :  {{resultCompanyName}} </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item> VisualAid Number: {{resultVisualAidNumber}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item> Employee Number : {{resultEmployeeNumber}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item> Begin Work:  {{resultBeginWork}} </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>End Work: {{resultEndWork}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item> Active : {{resultActive}}</mat-list-item>
        <mat-divider></mat-divider>
               
  
 <p>&nbsp;</p>


 <div>
    <button mat-raised-button color="primary" id="button" (click)=" clean(); "
        class="btn btn-primary">
        Limpar <!--by {{favoriteSearch}}-->
    </button>
</div>


    </mat-list>


</mat-card>



</main>