

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
</head>
<body>
    <main>
        <div class="row">
            <div class="colm-logo">
                <img src="/assets/sigecur.jpg" alt="image">
                <h2>Sistema de Gestão de Recursos</h2>
            </div>
            <div class="colm-form">
                <div class="form-container">
                    <input type="email" class="form-control" id="floatingInput" placeholder="email" #email>
                     <input type="password" class="form-control" id="floatingPassword" placeholder="Password" #password>
                   
                   <button class="btn-login" type="submit" (click)="login(email.value,password.value) ; ">Sign in</button>
                </div>
            </div>
        </div>
    </main>
</body>
</html>	



